# **Data Types and Structures Questionst**

1. What are data structures, and why are they important?

Data structures are ways to store and organize data efficiently. They are important because they help in managing and processing data efficiently, improving performance in searching, sorting, and modifying data.

2. Explain the difference between mutable and immutable data types with examples.

Mutable data types can be changed after creation. Examples: list, dict, set.
Immutable data types cannot be changed after creation. Examples: tuple, str, int, float.

3. What are the main differences between lists and tuples in Python?

Lists are mutable, tuples are immutable.
Lists use more memory, tuples are more memory efficient.
Tuples are faster than lists when accessing elements.
Lists allow modifications, tuples ensure data integrity.

4.  Describe how dictionaries store data.

Dictionaries store data in key-value pairs.
Internally, they use hash tables for fast lookups.

5. Why might you use a set instead of a list in Python?

Sets do not allow duplicate values.
Sets have faster lookup times compared to lists (O(1) vs. O(n)).

6.  What is a string in Python, and how is it different from a list?

A string is a sequence of characters.
Strings are immutable, while lists are mutable.

7. How do tuples ensure data integrity in Python?

Since tuples are immutable, they prevent accidental modification of data.
Useful in scenarios where data should remain constant (e.g., database records).

8.  What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries use hash tables for fast lookups (O(1) time complexity).

9. Can lists contain different data types in Python?

Yes, lists can store multiple data types.

10. Explain why strings are immutable in Python.

Strings are immutable to improve performance and security.
Since they are frequently used, immutability allows Python to optimize memory usage.

11.  What advantages do dictionaries offer over lists for certain tasks?

Faster lookups (O(1) vs. O(n) for lists).
Key-value structure is useful for mapping relationships.

12. Describe a scenario where using a tuple would be preferable over a list.

When storing fixed data like coordinates (x, y), dates (year, month, day), or database records.

13. How do sets handle duplicate values in Python?

Sets automatically remove duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?

In lists, it checks if a value is present (O(n)).
In dictionaries, it checks for keys (O(1)).

15. Can you modify the elements of a tuple? Explain why or why not.

No, tuples are immutable.
You cannot change, add, or remove elements after creation.

16. What is a nested dictionary, and give an example of its use case?

A dictionary inside another dictionary.

17. Describe the time complexity of accessing elements in a dictionary.

O(1) (constant time) for key-based lookups, due to hash tables.

18. In what situations are lists preferred over dictionaries?

When order matters (lists maintain order, dictionaries before Python 3.7 did not).
When data has no key-value relationship (e.g., sequential storage).

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries did not store elements in a fixed order.
Now, they maintain insertion order, but retrieval is still key-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Lists retrieve data by index (O(1) for known index, O(n) for searches).
Dictionaries retrieve data by key (O(1) lookup time).

# **Practical Questionst**

1. Write a code to create a string with your name and print it.

In [1]:
Name = "Harsh Sharma"
print(Name)

Harsh Sharma

2. Write a code to find the length of the string "Hello World".

In [3]:
A = "Hello World"
len(A)

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
A = "Python Programming"
A[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [8]:
Upper_case = "hello"
Upper_case.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [10]:
replace_string = "i like apple"
replace_string = replace_string.replace("apple","orange")
print(replace_string)

i like orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [18]:
Num_list = list(range(1,6))
print(Num_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [19]:
append_list = list(range(1,5))
print(append_list)
append_list.append(10)
print(append_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [20]:
remove_list = list(range(1,6))
print(remove_list)
remove_list.pop(2)
print(remove_list)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [24]:
access_list = ['a','b','c','d']
access_list[1]

'b'

10. P Write a code to reverse the list [10, 20, 30, 40, 50].

In [26]:
reverse_list = list(range(10,51,10))
print(reverse_list)
reverse_list[::-1]

[10, 20, 30, 40, 50]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [29]:
Create_tuple = tuple(range(100,301,100))
print(Create_tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [30]:
access_tuple = ('red','green','blue','yellow')
access_tuple[-2]

'blue'

13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [31]:
Min_tuple = (10,20,5,15)
min(Min_tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [32]:
animal = ('dog','cat','rabbit')
animal.index('cat')

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [38]:
fruits = ('apple','banana','orange','kiwi')
"kiwi" in fruits

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [55]:
alp = {'a','b','c'}
alp

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [44]:
num = {1,2,3,4,5}
print(num)
num.clear()
print(num)

{1, 2, 3, 4, 5}
set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [60]:
num1 = {1,2,3,4}
print(num1)
num1.remove(4)
print(num1)

{1, 2, 3, 4}
{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [61]:
A = {1,2,3}
B = {3,4,5}
A | B

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [63]:
A = {1,2,3}
B = {2,3,4}
A & B

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [67]:
Dict = {"name":"harsh","age":22,"city":'gudgoan'}
print(Dict)
type(Dict)

{'name': 'harsh', 'age': 22, 'city': 'gudgoan'}

dict

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [73]:
data =  {'name': 'John', 'age': 25}
print(data)
data["Country"] = "USA"
print(data)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'Country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [74]:
data1 =  {'name': 'Alice', 'age': 30}
data1['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [77]:
data2 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(data2)
data2.pop('city')
print(data2)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'age': 22}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [78]:
data3 = {'name': 'Alice', 'city': 'Paris'}
"city" in data3

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [79]:
list_data = [1, 2, 3]
tuple_data = (4, 5, 6)
dictionary_data = {"a": 1, "b": 2}
print(list_data, tuple_data, dictionary_data)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [80]:
import random
random_number = sorted(random.sample(range(1, 101), 5))
print(random_number)

[31, 40, 70, 76, 94]

28. Write a code to create a list with strings and print the element at the third index.

In [83]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

29.  Write a code to combine two dictionaries into one and print the result.

In [84]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [85]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'cherry', 'banana', 'apple'}